# Project exclude paths
/project/project/target
/project/target/
/project/.bloop
/project/project
/project/metals.sbt


target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/target
!**/Cargo.lock

*/target
target
*/*/target
*/*/Cargo.lock

out/

*.log

### BSP ###
.bloop
.bsp
.metals

### IntelliJ IDEA ###
.idea

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/native-transport/Cargo.lock
