# Project exclude paths
/adbc/target/
/core/target/
/core/target/scala-0.26/classes/
/project/project/target
/project/target/
/project/.bloop
/project/project
/project/metals.sbt
/target/
/.idea/
.bloop
.bsp
.metals
.vscode
.dotty-ide-artifact
.dotty-ide.json
core/target
adbc/target
http/target
redis-client/target
web/target
examples/target
*.html

